table(class='nav')
    tr 
        td(class="prev")
            - if(page > 0)
                button(name='nav' value='prev')
                    | &larr; Previous
        td(class="start")
            - if (startPage)
                button(name='nav' value='next')
                    | Start
        td(class="next")
            - if (!lastPage && !startPage)
                button(name='nav' value='next')
                    | Next &rarr;